@tailwind base;
@tailwind components;
@tailwind utilities;

a.active hr {
    display: block;
    background-color:rgb(250, 99, 62) !important;
}

a.active .nav_link {
    color:rgb(250, 99, 62) !important;
}